:root {
  --background: #070606;
  --hero-highlight: #f14a16;
  --purple: #370665;
  --blue: #35589a;
}

/* font import */
@font-face {
  font-family: "Proxima Nova";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/* font import */

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  color: white;
  background-color: var(--background);
}
html {
  scroll-behavior: smooth;
}
body.light-mode {
  color: var(--background);
}

.light-mode .ellipse {
  display: none;
}
.light-mode .hero__title {
  color: var(--background);
}
.light-mode .offer__timer-title {
  color: var(--background);
}
.light-mode .offer__countdown-time-text {
  color: var(--background);
}
.light-mode .accessories--title {
  color: var(--background);
}
.light-mode .nav__item a {
  color: var(--background);
}
/* .light-mode .headphone__card-title {
  color: var(--background);
}
.light-mode .headphone-price-old {
  color: var(--background);
} */
.light-mode .offer__title {
  color: var(--background);
}
.light-mode .nav__right-cart {
  filter: brightness(0%);
}
.light-mode .nav__search {
  filter: brightness(0%);
}
.light-mode .nav__left-image {
  filter: brightness(0%);
}
.light-mode .headphone__card {
  background: rgba(40, 40, 40, 0.7);
}
.light-mode .headphone__scroll-down img {
  filter: brightness(0%);
}

/* ellipse */
.ellipse {
  z-index: -1;
  position: absolute;
}
.ellipse--blue {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 904px;
  background: #35589a;
  filter: blur(250px);
  top: 438px;
  left: 17px;
}

.ellipse--purple {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 904px;
  background: var(--purple);
  filter: blur(250px);
  top: 68px;
  right: 17px;
}

.section--title {
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.84px;
  margin: auto;
}
/* nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  width: 90%;
}

.nav__left {
  display: flex;
  align-items: flex-start;
}

.nav__left-image {
  width: 21px;
  height: 12.857px;
}
.hero__background-image {
  display: none;
}
.hero__body {
  overflow: hidden;
}
.footer__country {
  display: none;
}
.nav__list {
  display: none;
}
.nav__search {
  display: none;
}
.nav--button {
  display: none;
}
.footer__country {
  display: none;
}

.nav__right {
  display: flex;
  gap: 38px;
}

.nav__logo {
  width: 60px;
  height: 60px;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.nav__converter img {
  width: 100%;
  height: 100%;
}

.nav__cart__image {
  width: 100%;
  height: 100%;
}
.nav__inner {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav__cart {
  color: white;
}

.btn {
  position: relative;
  width: 50px;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: #878787;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #fafafa;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
.light-mode {
  background-color: #e5e5e5;
}

.dark-text-color {
  color: var(--bg-dark) !important;
}

.dark-bg-color {
  background-color: var(--bg-dark) !important;
}

/* searchbar */

.searchbar {
  background: #f8f8f8;
  width: 80%;
  margin: auto;
  height: 34px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 7.2px;
  padding: 8px 13px;
  margin-top: 11px;
}
.searchbar__input {
  border: none;
  outline: none;
  background: #f8f8f8;
}
.searchbar__img {
  width: 17.8px;
  height: 17.8px;
  flex-shrink: 0;
}
.searchbar__input::placeholder {
  color: #858585;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

/* hero section */

.hero {
  display: flex;
  width: 90%;
  margin-top: 32px;
  color: #e5e5e5;
  flex-direction: column;
  gap: 43px;
  /* position: relative;
  overflow: hidden; */
}
.hero__button {
  width: 160px;
  height: 46px;
  border-radius: 20px;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.68px;
  border: 3px solid var(--hero-highlight);
}
.button--skin1 {
  color: #e5e5e5;
  filter: drop-shadow(0px 0px 21px var(--hero-highlight));
  background: var(--hero-highlight);
}
.button--skin2 {
  background: transparent;
  color: var(--hero-highlight);
}
.hero__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 2.24px;
}
.hero__title__highlight {
  color: var(--hero-highlight);
}
.hero__body {
  color: #a4a4a4;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-style: normal;
  font-weight: 250;
  line-height: 40px; /* 222.222% */
  letter-spacing: 0.36px;
  height: 80px;
}
.hero__buttons {
  display: flex;
  gap: 34px;
}
/* headphone section */
.headphone {
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
}
.headphone__scroll-down {
  align-self: center;
  margin-top: 20px;
}
.headphone__container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  height: 274px;
  align-items: center;
  flex-shrink: 0;
}

.headphone__card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    116deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  backdrop-filter: blur(15px);
  width: 250px;
  height: 128px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
}
.headphone__card__image {
  margin-bottom: 20px;
  position: absolute;
  width: 107.143px;
  height: 132.143px;
  top: -70px;
}

.headphone__card-title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
  width: 171.429px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone-price-new {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
  width: 27.857px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone-price-old {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 333.333% */
  letter-spacing: 0.24px;
  text-decoration: line-through;
  width: 36.429px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone__card-contents {
  margin-top: auto;
}

/* popular trends */

.popular__trends__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
  margin: 60px 0px;
  text-align: center;
}
.popular__trends__image {
  width: 250px;
  height: 210px;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
}
.trends__buttons {
  display: flex;
  gap: 10px;
}
.trends__button {
  width: 102px;
  height: 33.245px;
  border-radius: 20px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  border: 3px solid var(--hero-highlight);
}
.popular__trends__button_skin1 {
  color: #e5e5e5;
  background: #f14a16;
  filter: drop-shadow(0px 0px 21px #f14a16);
}
.trends__button--skin2 {
  color: var(--hero-highlight);
  background: #070606;
}
.trends__card {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 250px;
  height: 470px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.light-mode .trends__card {
  background-color: #282828;
}

.popular__trends__image {
  width: 250px;
  height: 220.08px;
  flex-shrink: 0;
  border-radius: 50px 50px 0px 0px;
}
.trends__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.trends__contents-title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  width: 218.75px;
  height: 47.872px;
  flex-shrink: 0;
}
.trends__contents-features {
  list-style: disc;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}
.trends__contents-price {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 180% */
  letter-spacing: 0.4px;
  align-self: start;
  margin-left: 20px;
}
.popular__trends {
  width: 90%;
}
.trends__cards-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin: 30px 0px;
}

/* buy section starts */
.buy {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 19px;
  width: 68%;
  /* height: 484px; */
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}
.buy__title {
  /* margin: 30px 0px; */
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
}
.buy__card {
  display: flex;
  gap: 10px;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.buy__card__image {
  width: 41px;
  height: 41px;
  color: #fff;
}
.buy__card__content {
  color: #fff;
  width: 67%;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.buy__contents {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px;
}

/* offer */
.offer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
}
.offer__title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.84px;
}
.offer__image {
  width: 370px;
  height: 367px;
}
.offer__contents {
  display: flex;
  flex-direction: column;
  gap: 78px;
}
.offer__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.offer__timer-title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
.offer__countdown {
  display: flex;
  gap: 17px;
}
.offer__countdown-container {
  display: flex;
  flex-direction: column;
}
.offer__countdown-time {
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  background: #370665;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2.3px;
}
.offer__countdown-time-text {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.timer-custom {
  width: 165px;
  height: 55px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.offer__buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* accessories section */
.accessories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.accessories__container {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 15px;
}
.accessories--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 43px;
}

/* arrivals */
.arrivals {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 63px;
}
.arrivals__title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
}
.arrivals__card {
  border-radius: 50px;
  border: 5px solid #35589a;
  background: #370665;
}

.arrival__button__skin2 {
  background-color: var(--purple);
}

/* scanner */
.scanner {
  width: 90%;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  height: 485px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.scanner__qr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.scanner__qr__image {
  width: 140px;
  height: 140px;
}
.scanner__contents__title {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}
.scanner__contents__body {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
}
.scanner__contents__buttons {
  width: 109px;
  /* height: 28.976px; */
  flex-shrink: 0;
  object-fit: contain;
}
.scanner__contents__buttons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.scanner__contents__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.scanner__contents__buttons__adjust {
  width: 180px;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--purple);
  padding-top: 29px;
  flex-shrink: 0;
  gap: 36px;
}

.footer__item {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.48px;
  width: 90%;
  margin: auto;
}

.footer__contains__title {
  color: #fff;
  width: 90%;
  margin: auto;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}
.footer__socials {
  width: 90%;
  margin: auto;
}
.footer__socials__list {
  display: flex;
  gap: 32px;
  /* justify-content: center; */
}
.footer__socials__img {
  width: 28.198px;
  height: 29.549px;
}
.footer__socials__img__container {
  width: 40.604px;
  height: 42.551px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 250% */
  letter-spacing: 0.72px;
}
.footer__newsletter {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__newsletter__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.72px;
}
.footer__newsletter__buttons__input {
  width: 84%;
  height: 54px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #f14a16;
  background: #370665;
}
.footer__newsletter__buttons__input::placeholder {
  padding: 9px 21px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Proxima Nova";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 171.429% */
  letter-spacing: 0.63px;
}
.footer__newsletter__button {
  width: 200px;
  height: 51.822px;
  border-radius: 20px;
  background: #f14a16;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 176.923% */
  letter-spacing: 1.3px;
}
.footer__newsletter__buttons__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.footer__newsletter__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__newsletter__copyright__image {
  width: 193.965px;
  height: 172.241px;
}
.footer__newsletter__copyright__text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 219.048% */
  letter-spacing: 1.05px;
}
/* media queries */
@media screen and (min-width: 768px) {
  .accessories__container img {
    width: 525px;
  }
  .accessories__container {
    align-items: center;
    gap: 30px;
  }
  .buy__card {
    width: 335px;
  }
  .buy {
    width: 80%;
    gap: 50px;
  }
  .buy__contents {
    gap: 45px;
  }
  .buy__title {
    font-size: 35px;
  }
  .accessories--title {
    font-size: 45px;
  }
  .scanner__contents__title {
    font-size: 45px;
  }
  .scanner__contents__body {
    font-size: 20px;
  }
  /* .scanner__contents__buttons__adjust {
    width: 250px;
  }
  .scanner__contents__buttons {
    width: 170px;
  } */
  .scanner__contents__buttons__container {
    gap: 0px;
  }
  .nav {
    width: 80%;
  }
  .nav__right {
    gap: 220px;
  }
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    position: relative;
  }

  .footer__newsletter {
    /* display: none; */
  }
  .footer__newsletter {
    position: absolute;
    /* width: 218px; */
    top: 747px;
    /* left: 137px; */
  }
  .footer__newsletter__title {
    font-size: 30px;
  }
  .footer__newsletter__buttons__container {
    flex-direction: column;
    align-items: start;
  }
  .footer__newsletter__copyright {
    order: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1000px;
  }
  .footer__newsletter__copyright__text {
    position: absolute;
    bottom: 8px;
    left: 8%;
    font-size: 24px;
  }
  .footer__contains {
    width: auto;
  }
  .footer__newsletter__copyright__image {
    display: none;
  }
  .footer__contains__title {
    font-size: 32px;
  }
  .footer__item {
    font-size: 19px;
    font-weight: 400;
  }
  .footer__contains {
    display: flex;
    flex-direction: column;
    gap: 94px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__newsletter__button {
    width: 246px;
    height: 64px;
    flex-shrink: 0;
  }
  .footer__newsletter__buttons__input {
    width: 245px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #f14a16;
    background: #370665;
  }
  .nav__list li a:hover {
    color: var(--hero-highlight);
  }
}
@media screen and (min-width: 1400px) {
  /* ellipse */

  .ellipse--blue {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 904px;
    background: #35589a;
    filter: blur(250px);
    top: 274px;
    left: 15px;
  }

  .ellipse--purple {
    width: 840px;
    height: 840px;
    flex-shrink: 0;
    border-radius: 954px;
    background: #370665;
    filter: blur(300px);
    top: 0px;
    right: 0px;
  }

  .body {
    overflow-x: hidden;
  }
  .section--title {
    font-size: 64px;
    font-weight: 700;
    line-height: 40px; /* 62.5% */
    letter-spacing: 1.28px;
    margin: 100px 0px;
  }

  /* scanner section */
  .scanner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
  }
  .scanner__qr__image {
    width: 350px;
    height: 350px;
  }
  .scanner__contents__title {
    font-size: 56px;
  }
  .scanner__contents__body {
    font-size: 32px;
  }
  .scanner__contents__buttons__container {
    flex-direction: row;
    justify-content: center;
  }
  .scanner__contents__buttons {
    width: 278px;
  }
  .scanner__contents__buttons__adjust {
    width: 410px;
  }

  /* accessories section */
  .accessories__container {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .accessories__image {
    width: 35%;
    height: 35%;
  }
  .accessories--title {
    font-size: 65px;
  }

  /* offer section */
  .offer {
    height: 721px;
    align-items: center;
    justify-content: center;
  }
  .offer__image {
    order: -1;
    width: 600px;
    height: 600px;
  }
  .offer__title {
    font-size: 65px;
  }
  .offer__timer-title {
    font-size: 36px;
  }
  .offer__countdown-time-text {
    font-size: 36px;
  }
  .offer__countdown-time {
    font-size: 60px;
  }
  .timer-custom {
    width: 225px;
    height: 75px;
    font-size: 26px;
  }

  /* Buy Section
   */
  .buy {
    width: 90%;
    gap: 39px;
    height: 232px;
    justify-content: center;
    margin: 100px 0;
  }
  .buy__title {
    font-size: 45px;
  }
  .buy__contents {
    flex-direction: row;
  }
  .buy__card__image {
    width: 64.043px;
    height: 58px;
  }

  .buy__card__content {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    flex-basis: content;
  }
  /* hero section */
  .hero_contents {
    display: flex;
  }
  .searchbar {
    display: none;
  }
  .hero__background-image {
    display: block;
  }
  .hero__background-image img {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0px;
    height: 865px;
  }
  .hero__button:hover {
    scale: 1.05;
    transition: all 3ms ease-in-out;
  }

  /* headphones */

  .headphone {
    flex-direction: row;
    justify-content: space-between;
  }
  .headphone__container {
    justify-content: end;
    width: auto;
  }
  .headphone__scroll-down {
    display: flex;
    width: 28%;
    height: 80px;
    justify-content: center;
  }
  .hero {
    margin-top: 297px;
    color: #e5e5e5;
    margin-top: 73px;
  }
  .hero__title {
    width: 45%;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 117.647% */
    letter-spacing: 4.25px;
  }

  .hero__body {
    width: 727px;
    font-size: 32px;
    font-style: normal;
    font-weight: 250;
    line-height: 40px;
    letter-spacing: 0.64px;
    /* height: auto; */
  }
  /* .hero__body {
    width: 50%;
    font-size: 32px;
    font-style: normal;
    font-weight: 250;
    line-height: 40px; 
    letter-spacing: 0.64px;
    height: auto;
  } */

  /* popular trends */
  .trends__cards-container {
    gap: 124px;
  }
  .trends__card {
    width: 376px;
    height: 696px;
  }
  .popular__trends__image {
    width: 376px;
    height: 331px;
    object-fit: cover;
  }
  .trends__contents-title {
    width: 329px;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.52px;
    padding-bottom: 20px;
  }
  .trends__contents {
    gap: 12px;
  }
  .trends__contents-features {
    color: #fff;
    width: 211px;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
    letter-spacing: 0.36px;
  }
  .trends__contents-price {
    /* width: 79px; */
    color: #fc9918;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
    letter-spacing: 0.56px;
  }
  .trends__button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .trends__button--skin2 {
    font-size: 16px;
    border-radius: 50px;
    /* background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ); */
    background: transparent;
  }
  /* new arrivals */
  #button--purple {
    background: var(--purple);
  }

  /* footer */

  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    position: relative;
  }

  .footer__newsletter {
    /* display: none; */
  }
  .footer__newsletter {
    position: absolute;
    width: 423px;
    top: 747px;
    left: 137px;
  }
  .footer__newsletter__title {
    font-size: 32px;
  }
  .footer__newsletter__buttons__container {
    flex-direction: row;
  }
  .footer__newsletter__copyright {
    order: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1000px;
  }
  .footer__newsletter__copyright__text {
    /* display: none; */
    position: absolute;
    bottom: 18px;
    left: 40%;
    font-size: 32px;
  }
  .footer__contains {
    width: auto;
  }
  .footer__newsletter__copyright__image {
    width: 365.517px;
    height: 324.579px;
    flex-shrink: 0;
    display: block;
  }
  .footer__contains__title {
    font-size: 32px;
  }
  .footer__item {
    font-size: 28px;
    font-weight: 400;
  }
  .footer__contains {
    display: flex;
    flex-direction: column;
    gap: 94px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__newsletter__button {
    width: 246px;
    height: 64px;
    flex-shrink: 0;
  }

  /* navbar */
  .nav__left {
    display: none;
  }
  .nav__right {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .nav__logo {
    width: 125px;
    height: 111px;
  }
  .nav__logo img {
    width: 100%;
    height: 100%;
  }
  .nav__cart__image {
    width: 29.667px;
    height: 29.667px;
    flex-shrink: 0;
  }
  .nav__search {
    color: white;
  }
  .nav__cart {
    color: white;
  }
  .nav__buttons {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav--button {
    width: 127px;
    height: 52px;
    color: var(--hero-highlight);
    background: transparent;
    border-radius: 15px;
    border: 1px solid #f14a16;
    color: #f14a16;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .nav__list ul {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .nav__list li a {
    color: #fff;
    text-decoration: none;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  .nav__inner {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .nav__cart {
    width: 30px;
    height: 30px;
  }
  .nav__cart img {
    width: 100%;
    height: 100%;
  }
  .button--skin1 {
    width: 223px;
    height: 64px;
    font-size: 24px;
  }
  .button--skin2 {
    width: 223px;
    height: 64px;
    font-size: 24px;
  }
  .light-mode .headphone__card {
    background: linear-gradient(
      116deg,
      rgba(192, 192, 192, 0.63) -10.88%,
      rgba(255, 255, 255, 0.49) -10.87%,
      rgba(255, 255, 255, 0.07) 74.79%
    );
  }
}
@media screen and (min-width: 1728px) {
  /* ellipse */
  .ellipse--blue {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 904px;
    background: #35589a;
    filter: blur(250px);
    top: 274px;
    left: 15px;
  }

  .ellipse--purple {
    width: 840px;
    height: 840px;
    flex-shrink: 0;
    border-radius: 954px;
    background: #370665;
    filter: blur(300px);
    top: 0px;
    right: 0px;
  }

  .body {
    overflow-x: hidden;
  }
  .section--title {
    font-size: 64px;
    font-weight: 700;
    line-height: 40px; /* 62.5% */
    letter-spacing: 1.28px;
    margin: 100px 0px;
  }

  /* scanner section */
  .scanner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 183px;
    margin: 100px 0;
  }
  .scanner__qr__image {
    width: 350px;
    height: 350px;
  }
  .scanner__contents__title {
    font-size: 56px;
  }
  .scanner__contents__body {
    font-size: 32px;
  }
  .scanner__contents__buttons__container {
    flex-direction: row;
    justify-content: center;
  }
  .scanner__contents__buttons {
    width: 278px;
  }
  .scanner__contents__buttons__adjust {
    width: 410px;
  }

  /* accessories section */
  .accessories__container {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .accessories__image {
    width: 720px;
    height: 400px;
  }
  .accessories--title {
    font-size: 65px;
  }

  /* offer section */
  .offer {
    height: 721px;
    align-items: center;
    justify-content: center;
  }
  .offer__image {
    order: -1;
    width: 725px;
    height: 720px;
  }
  .offer__title {
    font-size: 65px;
  }
  .offer__timer-title {
    font-size: 36px;
  }
  .offer__countdown-time-text {
    font-size: 36px;
  }
  .offer__countdown-time {
    font-size: 60px;
  }
  .timer-custom {
    width: 225px;
    height: 75px;
    font-size: 26px;
  }

  /* Buy Section
   */
  .buy {
    width: 90%;
    gap: 39px;
    height: 232px;
    justify-content: center;
    margin: 100px 0;
  }
  .buy__title {
    font-size: 45px;
  }
  .buy__contents {
    flex-direction: row;
    justify-content: center;
    gap: 168px;
  }
  .buy__card__image {
    width: 64.043px;
    height: 58px;
  }

  .buy__card__content {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    flex-shrink: 0;
  }
  /* hero section */
  .hero_contents {
    display: flex;
  }
  .searchbar {
    display: none;
  }
  .hero__background-image img {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0;
    height: 945px;
  }
  .hero__button:hover {
    scale: 1.05;
    transition: all 3ms ease-in-out;
  }

  /* headphones */

  .headphone {
    flex-direction: row;
    justify-content: space-between;
  }
  .headphone__container {
    justify-content: end;
    width: auto;
  }
  .headphone__scroll-down {
    display: flex;
    width: 28%;
    height: 80px;
    justify-content: center;
  }
  .hero {
    margin-top: 297px;
    color: #e5e5e5;
    margin-top: 73px;
  }
  .hero__title {
    width: 33%;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 117.647% */
    letter-spacing: 4.25px;
  }
  .hero__body {
    width: 50%;
    font-size: 32px;
    font-style: normal;
    font-weight: 250;
    line-height: 40px; /* 125% */
    letter-spacing: 0.64px;
    height: auto;
  }

  /* popular trends */
  .trends__cards-container {
    gap: 124px;
  }
  .trends__card {
    width: 376px;
    height: 696px;
  }
  .popular__trends__image {
    width: 376px;
    height: 331px;
    object-fit: cover;
  }
  .trends__contents-title {
    width: 329px;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.52px;
    padding-bottom: 20px;
  }
  .trends__contents {
    gap: 12px;
  }
  .trends__contents-features {
    color: #fff;
    width: 211px;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
    letter-spacing: 0.36px;
  }
  .trends__contents-price {
    /* width: 79px; */
    color: #fc9918;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
    letter-spacing: 0.56px;
  }
  .trends__button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .trends__button--skin2 {
    font-size: 16px;
    border-radius: 50px;
    /* background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ); */
    background: transparent;
  }
  /* new arrivals */
  #button--purple {
    background: var(--purple);
  }

  /* footer */

  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 170px;
    position: relative;
  }

  .footer__newsletter {
    /* display: none; */
  }
  .footer__newsletter {
    position: absolute;
    width: 423px;
    top: 747px;
    left: 137px;
  }
  .footer__newsletter__title {
    font-size: 32px;
  }
  .footer__newsletter__buttons__container {
    flex-direction: row;
  }
  .footer__newsletter__copyright {
    order: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1000px;
  }
  .footer__newsletter__copyright__text {
    /* display: none; */
    position: absolute;
    bottom: 18px;
    left: 40%;
    font-size: 32px;
  }
  .footer__contains {
    width: auto;
  }
  .footer__newsletter__copyright__image {
    width: 365.517px;
    height: 324.579px;
    flex-shrink: 0;
  }
  .footer__contains__title {
    font-size: 32px;
  }
  .footer__item {
    font-size: 28px;
    font-weight: 400;
  }
  .footer__contains {
    display: flex;
    flex-direction: column;
    gap: 94px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__newsletter__button {
    width: 246px;
    height: 64px;
    flex-shrink: 0;
  }

  /* navbar */
  .nav__left {
    display: none;
  }
  .nav__right {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .nav__logo {
    width: 125px;
    height: 111px;
  }
  .nav__logo img {
    width: 100%;
    height: 100%;
  }
  .nav__cart__image {
    width: 29.667px;
    height: 29.667px;
    flex-shrink: 0;
  }
  .nav__search {
    color: white;
  }
  .nav__cart {
    color: white;
  }
  .nav__buttons {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav--button {
    width: 127px;
    height: 52px;
    color: var(--hero-highlight);
    background: transparent;
    border-radius: 15px;
    border: 1px solid #f14a16;
    color: #f14a16;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__list ul {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .nav__list li a {
    color: #fff;
    text-decoration: none;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  .nav__inner {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .nav__cart {
    width: 30px;
    height: 30px;
  }
  .nav__cart img {
    width: 100%;
    height: 100%;
  }
  .button--skin1 {
    width: 223px;
    height: 64px;
    font-size: 24px;
  }
  .button--skin2 {
    width: 223px;
    height: 64px;
    font-size: 24px;
  }
  .light-mode .headphone__card {
    background: linear-gradient(
      116deg,
      rgba(192, 192, 192, 0.63) -10.88%,
      rgba(255, 255, 255, 0.49) -10.87%,
      rgba(255, 255, 255, 0.07) 74.79%
    );
  }
}
