:root {
  --background: #070606;
  --hero-highlight: #f14a16;
  --purple: #370665;
  --blue: #35589a;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
  z-index: 1;
}

/* ellipse */
.background__ellipse {
  z-index: -1;
  position: absolute;
}
.ellipse__purple {
  border-radius: 443.813px;
  background: var(--purple);
  filter: blur(300px);
  width: 443.813px;
  height: 443.813px;
  flex-shrink: 0;
  top: 0;
  left: 50;
}
.ellipse__blue {
  border-radius: 420.552px;
  background: var(--blue);
  filter: blur(250px);
  width: 420.552px;
  height: 420.552px;
  flex-shrink: 0;
  top: 466;
  left: 11;
}

/* nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 20px;
  margin-right: 23px; */
  margin-top: 26px;
  /* gap: 100px; */
  width: 90%;
}
.nav__left {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  /* width: 50%; */
}
.left__image {
  width: 21px;
  height: 12.857px;
}
.nav__right {
  /* width: 50%; */
  display: flex;
  gap: 38px;
}
.nav__right__logo {
  width: 60px;
  height: 60px;
}

.nav__right__logo__image {
  width: 100%;
  height: 100%;
}
.nav__right__converter {
}
.nav__right__converter__image {
  width: 100%;
  height: 100%;
}

.converter__image {
  width: 60px;
  height: 27px;
}
.nav__right__cart__image {
  width: 100%;
  height: 100%;
}
.nav__right__cart {
  /* width: 17.8px;
  height: 17.8px; */
}

/* searchbar */

.searchbar {
  background: #f8f8f8;
  width: 80%;
  margin: auto;
  height: 34px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 7.2px;
  padding: 8px 13px;
  margin-top: 11px;
}
.searchbar__input {
  border: none;
  outline: none;
  background: #f8f8f8;
}
.searchbar__img {
  width: 17.8px;
  height: 17.8px;
  flex-shrink: 0;
}
.searchbar__input::placeholder {
  color: #858585;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

/* hero section */

.hero {
  display: flex;
  width: 90%;
  margin-top: 32px;
  color: #e5e5e5;
  flex-direction: column;
  gap: 43px;
}
.hero__button {
  width: 160px;
  height: 46px;
  border-radius: 20px;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.68px;
  border: 3px solid var(--hero-highlight);
}
.button_skin1 {
  color: #e5e5e5;
  filter: drop-shadow(0px 0px 21px var(--hero-highlight));
  background: var(--hero-highlight);
}
.button_skin2 {
  background: #070606;
  color: var(--hero-highlight);
}
.hero__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 2.24px;
}
.hero__title__highlight {
  color: var(--hero-highlight);
}
.hero__body {
  color: #a4a4a4;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-style: normal;
  font-weight: 250;
  line-height: 40px; /* 222.222% */
  letter-spacing: 0.36px;
}
.hero__buttons {
  display: flex;
  gap: 34px;
}
/* headphone section */

.headphone__card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    116deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  backdrop-filter: blur(15px);
  width: 250px;
  height: 128px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
}
.headphone__card__image {
  margin-bottom: 20px;
  position: absolute;
  width: 107.143px;
  height: 132.143px;
  top: -70px;
}

.headphone__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
  width: 171.429px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone__new__price {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
  width: 27.857px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone__old__price {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 333.333% */
  letter-spacing: 0.24px;
  text-decoration: line-through;
  width: 36.429px;
  height: 28.571px;
  flex-shrink: 0;
}
.headphone__card__contents {
  margin-top: auto;
}
.headphone {
  width: 90%;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-y: scroll;
  overflow-x: scroll;
  flex-shrink: 0;
  /* height: 202px; */
}

.scroll_down {
  width: 60px;
  height: 60px;
  margin-top: 53px;
}

/* popular trends */

.popular__trends__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
  margin: 60px 0px;
  text-align: center;
}
.popular__trends__image {
  width: 250px;
  height: 210px;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
  background: url(<path-to-image>) lightgray 0px -53.067px / 100% 161.301% no-repeat,
    #c4c4c4;
}
.popular__trends__buttons {
  display: flex;
  gap: 10px;
}
.popular__trends__button {
  width: 102px;
  height: 33.245px;
  border-radius: 20px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  border: 3px solid var(--hero-highlight);
}
.popular__trends__button_skin1 {
  color: #e5e5e5;
  background: #f14a16;
  filter: drop-shadow(0px 0px 21px #f14a16);
}
.popular__trends__button__skin2 {
  color: var(--hero-highlight);
  background: #070606;
}
.popular__trends__card {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 250px;
  height: 470px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.popular__trends__image {
  width: 250px;
  height: 220.08px;
  flex-shrink: 0;
  border-radius: 50px 50px 0px 0px;
}
.popular__trends__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.popular__trends__contents__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  width: 218.75px;
  height: 47.872px;
  flex-shrink: 0;
}
.popular__trends__contents__features {
  list-style: disc;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}
.popular__trends__contents__price {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 180% */
  letter-spacing: 0.4px;
  align-self: start;
  margin-left: 20px;
}
.popular__trends {
  width: 90%;
}
.popular__trends__cards__container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
}

/* buy section starts */
.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 19px;
  width: 68%;
  height: 484px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}
.buy__title {
  margin: 30px 0px;
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
}
.buy__card {
  display: flex;
  gap: 10px;
  width: 60%;
  justify-content: center;
}
.buy__card__image {
  width: 41px;
}
.buy__card__content {
  color: #fff;
  width: 67%;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.buy__contents {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px;
}

/* offer */
.offer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.offer__title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.84px;
}
.offer__image {
  width: 370px;
  height: 367px;
}
.offer__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.offer__timer__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
.offer__countdown {
  display: flex;
  gap: 17px;
}
.offer__countdown__container {
  display: flex;
  flex-direction: column;
}
.offer__countdown__time {
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  background: #370665;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2.3px;
}
.offer_countdown__time__text {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.offer__timer__custom {
  width: 165px;
  height: 55px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.offer__buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* accessories section */
.accessories {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accessories__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 43px;
}

/* arrivals */
.arrivals {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 63px;
}
.arrivals__title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
}
.arrivals__card {
  border-radius: 50px;
  border: 5px solid #35589a;
  background: #370665;
}

.arrival__button__skin2 {
  background-color: var(--purple);
}

/* scanner */
.scanner {
  width: 90%;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  height: 485px;
  display: flex;
  flex-direction: column;
}
.scanner__qr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.scanner__contents__title {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}
.scanner__contents__body {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
}
.scanner__contents__buttons {
  width: 109px;
  /* height: 28.976px; */
  flex-shrink: 0;
  object-fit: contain;
}
.scanner__contents__buttons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scanner__contents__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.scanner__contents__buttons__adjust {
  width: 180px;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--purple);
  padding-top: 29px;
  flex-shrink: 0;
  gap: 36px;
}
.footer__contains {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.48px;
  width: 90%;
  margin: auto;
}
.footer__contains__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}
.footer__socials {
  width: 90%;
  margin: auto;
}
.footer__socials__list {
  display: flex;
  gap: 32px;
  /* justify-content: center; */
}
.footer__socials__img {
  width: 28.198px;
  height: 29.549px;
}
.footer__socials__img__container {
  width: 40.604px;
  height: 42.551px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 250% */
  letter-spacing: 0.72px;
}
.footer__newsletter {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__newsletter__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.72px;
}
.footer__newsletter__buttons__input {
  width: 84%;
  height: 54px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #f14a16;
  background: #370665;
}
.footer__newsletter__buttons__input::placeholder {
  padding: 9px 21px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Proxima Nova";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 171.429% */
  letter-spacing: 0.63px;
}
.footer__newsletter__button {
  width: 200px;
  height: 51.822px;
  border-radius: 20px;
  background: #f14a16;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 176.923% */
  letter-spacing: 1.3px;
}
.footer__newsletter__buttons__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.footer__newsletter__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__newsletter__copyright__image {
  width: 193.965px;
  height: 172.241px;
}
.footer__newsletter__copyright__text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 219.048% */
  letter-spacing: 1.05px;
}
